/***********
MARGIN
*/
.f-c 	{
	display: flex;
	justify-content: center;
}

.f-sa 	{
	display: flex;
	justify-content: space-around;
}

/***********
MARGIN
*/
.m-t-10{
	margin-top:10px;
}

.m-20 {
    margin: 20px;
}

.m-l-r-50 {
margin: 0px 50px;
}


/***********
PADDING
*/


/***********
HEIGHT
*/
.h-70 {
	min-height: 70vh;
}

/***********
WIDTH
*/
.w-250 {
	width: 250px;
}

/***********
IMAGES
*/

.img-100 {
	width: 100%;
}

.img-s-150 {
	height: 150px;
	width: 150px;
}


/***********
HR
*/
.hr-90 {
	width: 90vw;
	margin: auto;
	border-style: dashed;
	border-color: #ed6d22;
}

/***********
FONT
*/
.f-w-600 {
	font-weight: 600;
}
