/***********
FLEX
*/
.f-c 	{
	display: flex;
	justify-content: center;
}

.f-sa 	{
	display: flex;
	justify-content: space-around;
}

.f-cl-c {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.f-sp {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.f-grow {
	flex-grow: 1;
}

/***********
BORDER
*/

.b-2 {
	border: 2px solid #ed6d22;
	border-radius: 5px;
	background-color: #ededed;
}

/***********
FLOAT
*/

.fl-l{
	float:left;
}

.fl-r{
	float:right;
}

/***********
MARGIN
*/


.m-t-10{
	margin-top:10px;
}

.m-20 {
	margin: 20px;
}

.m-30 {
	margin: 30px;
}


.m-l-r-50 {
	margin: 0px 50px;
}


/***********
PADDING
*/


/***********
HEIGHT
*/
.h-70 {
	min-height: 70vh;
}

.h-100 {
	min-height: 100px;
}

.h-200 {
	min-height: 200px;
}

/***********
WIDTH
*/
.w-250 {
	width: 250px;
}

.w-300 {
	width: 300px;
}

/***********
IMAGES
*/

.img-100 {
	width: 100%;
}

.img-s-150 {
	height: 150px;
	width: 150px;
}


/***********
HR
*/
.hr-90 {
	width: 90vw;
	margin: auto;
	border-style: dashed;
	border-color: #ed6d22;
}

/***********
FONT
*/

.f-08-ir {
	font-size: 0.8em;
	font-style: italic;
	text-align: right;
}

.f-w-600 {
	font-weight: 600;
}

.h1-c {
	font-family: 'icomoon';
	color: #ed6d22;
}

.h2-c {
	color: #ed6d22;
}

.txt-align-center{
    text-align: center;
}

/***********
FONT AWESOME ADDON STYLES
*/

.fa-star-selected {
	color: #ed6d22!important;
	text-shadow: 0px 0px 15px #fbff00;
}

.fa-star {
	color: #ed6d22!important;
	text-shadow: 0px 0px 15px #fbff00;
}

.fa-star-o {
	font-size: 3em!important;
	/*color: #8c8c8c!important;*/
}

.fa {
	font-size: 3em!important;
	padding: 4px;
}


