/***********
FLEX
*/
.f-c 	{
	display: flex;
	justify-content: center;
}

.f-sa 	{
	display: flex;
	justify-content: space-around;
}

.f-cl-c {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.f-sp {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.f-row{
	display:flex;
	flex-direction: row;
}


.f-grow {
	flex-grow: 1;
}

/***********
BORDER
*/

.b-2 {
	border: 2px solid #ed6d22;
	border-radius: 5px;
	background-color: #ededed;
}

/***********
FLOAT
*/

.fl-l{
	float:left;
}

.fl-r{
	float:right;
}

/***********
MARGIN
*/

.m-0{
	margin:0px;
}
.m-20 {
	margin: 20px;
}

.m-30 {
	margin: 30px;
}


.m-t-10{
	margin-top:10px;
}

.m-t-20{
	margin-top:20px;
} 

.m-r-20{
	margin-right:20px;
}

.m-l-r-50 {
	margin: 0px 50px;
}


/***********
PADDING
*/

<<<<<<< HEAD
.p-4 {
	padding: 4px;
}

=======
.p-0{
	padding:0px;
}

.p-10{
	padding:10px;
}
>>>>>>> origin/master

/***********
HEIGHT
*/
.h-70 {
	min-height: 70vh;
}

.h-100 {
	min-height: 100px;
}

.h-200 {
	min-height: 200px;
}

/***********
WIDTH
*/
.w-200 {
	width:200px;
}

.w-250 {
	width: 250px;
}

.w-300 {
	width: 300px;
}
.w-600{
	width:600px;
}

.w-p-100{
	width:100%;
}

/***********
IMAGES
*/

.img-100 {
	width: 100%;
}

.img-s-20{
	width:20px;
	height:20px;
}

.img-s-75{
	width:75px;
	height:75px;
}

.img-s-150 {
	height: 150px;
	width: 150px;
}

.img-max-300{
	max-width: 300px;
}

/***********
HR
*/
.hr-90 {
	width: 90vw;
	margin: auto;
	border-style: dashed;
	border-color: #ed6d22;
}

/***********
FONT
*/

.f-08-ir {
	font-size: 0.8em;
	font-style: italic;
	text-align: right;
}

.h1-c {
	font-family: 'icomoon';
	color: #ed6d22;
}

.h2-c {
	color: #ed6d22;
}

.txt-align-center{
    text-align: center;
}

.fs-21px{
	font-size:21px;
}

.fs-24px{
	font-size:24px;
}


.f-w-600 {
	font-weight: 600;
}

.fw-bold{
	font-weight: bold;
}

.fw-normal{
	font-weight: normal;
}

/***********
FONT AWESOME ADDON STYLES
*/

.fa-star-selected {
	color: #ed6d22!important;
	text-shadow: 0px 0px 15px #fbff00;
}

.fa-star {
	color: #ed6d22!important;
	text-shadow: 0px 0px 15px #fbff00;
}

.fa-star-o {
	/*color: #8c8c8c!important;*/
}




/********
BACKGROUDN COLOR
*/
.bg-dbdbdb{
	background-color:#dbdbdb;
}

/*******
CLEARFIX for floated elements
*/
.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}	



/*********
LISTs
*/

.ul-noDeco{
	list-style-type: none;
}